h1{
    color: blue;
}
p{
    color: green;
}
.blue{
    color: dodgeblue;
}
p.blue{
    color: purple;
}
#red{
    color: red;
}
*{
    font-family: Arial, sans-serif;
}
h2, h3{
    background-color: lightgray;
}